* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 1280px;
  margin: 0 auto;
  background-color: #ffffff;
  .container {
    background-image: url(./Images/banner-bg.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;

    header {
      width: 100%;
      nav {
        background-color: #242424;
        width: 90%;
        margin: 0 auto;
        height: 60px;
        text-align: center;
        clip-path: polygon(0 0, 100% 0, 96% 100%, 3% 100%);
        ul {
          display: flex;
          flex-direction: row;
          justify-content: center;
          width: 100%;
          height: 100%;
          align-items: center;
          gap: 20px;

          li {
            cursor: pointer;
            list-style-type: none;
            color: #ffffff;
            font-family: sans-serif;
            font-weight: 200;
            letter-spacing: 1px;
            font-size: 18px;
            transition: all 0.2s ease-in-out;

            &:hover {
              color: rgb(255, 136, 0);
            }
          }
        }
      }
    }

    .hero-section {
      width: 100%;
      display: flex;
      flex-direction: column;
      font-family: sans-serif;
      align-items: center;
      justify-content: center;
      h1 {
        margin-top: 14px;
        color: #fff;
        font-size: 40px;
      }

      .search-bar {
        margin-top: 14px;
        display: flex;
        flex-direction: row;
        color: #fff;
        font-family: sans-serif;
        width: 70%;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .menu-bar {
          font-size: 25px;
        }

        .search {
          background-color: #fff;
          border-radius: 6px;
          border: 0;
          input {
            height: 30px;
            border: 0;
            outline: 0;
            width: 450px;
            border-radius: 5px;
            color: #242424;
            font-size: 18px;
            padding-left: 7px;
          }
          i {
            background: none;
            color: #353535;
            border: 0;
            font-size: 20px;
            margin-top: 5px;
            margin-right: 4px;
            margin-bottom: 4px;
          }
        }
        .cart-icon {
          font-size: 25px;
        }
      }

      h2 {
        color: #fff;
        font-size: 65px;
        margin-top: 70px;
        font-weight: 1000;
        text-align: center;
      }

      button {
        background-color: #252525;
        color: white;
        font-size: 16px;
        font-weight: bold;
        border-radius: 5px;
        margin-top: 50px;
        border: 0;
        height: 41px;
        width: 134px;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: rgb(255, 174, 0);
        }
      }
    }
  }

  .fashion {
    margin-top: 80px;
    h2 {
      margin-top: 20px;
      text-align: center;
      width: 100%;
      font-family: sans-serif;
      color: #30302e;
      font-weight: bold;
      font-size: 40px;
    }

    .cards-section {
      display: flex;
      flex-direction: row;
      gap: 30px;
      width: 100%;
      justify-content: center;
      margin-top: 35px;
      font-family: sans-serif;

      .card {
        height: 418px;
        background-color: rgb(255, 255, 255);
        width: 330px;
        border-radius: 10px;
        text-align: center;
        box-shadow:  -3px 2px 24px -18px black;;
        h3 {
          color: #242424;
          font-weight: bold;
          font-size: 23px;
          text-align: center;
          font-family: sans-serif;
          margin-top: 10px;
        }

        .price {
          display: flex;
          width: 100%;
          justify-content: center;
          margin-top: 10px;
          gap: 5px;
          p {
            color: #ff3b3b;
            font-size: 17px;
          }
        }

        img {
          margin-top: 20px;
          max-width: 100%;
          max-height: 260px;
        }

        .buying {
          top: 1px;
          display: flex;
          flex-direction: row;
          width: 100%;
          margin-top: 16px;
          justify-content: space-between;
          p {
            margin: 15px;
            font-weight: 600;
            color: #ff3b3b;
            transition: all 0.2s ease-in-out;
            &:hover{
              color: #252525;
            }
          }
        }
      }
    }
  }

  footer{
  
    background-color: #30302e;
    width: 100%;
    padding-top: 30px;
    margin-top: 50px;

    h2{
      color: #fff;
      font-size: 40px;
      font-family: sans-serif;
      font-weight: bolder;
      text-align: center;
      margin-bottom: 30px;
    }

    .conntact_us{
      margin: 0 auto;
      display: flex;
      width: 50%;
      justify-content: space-between;
      margin-bottom: 10px;
      input{
        color: white;
        border: 0;
        outline: 0;
        font-family: sans-serif;
        font-size: 23px;
        padding-left: 5px;
        background-color: transparent;
      }
      span{
        font-size: 25px;
        font-family: sans-serif;
        color: #ff623b;
        background-color: transparent;
        cursor: pointer;
        padding: 5px;
        border-radius: 4px;
        border: 0;
        transition: all 0.2s ease-in-out;
        &:hover{
          color: #ffffff;
        }
      }
    }

    hr{
      width:  60%;
      margin: 0 auto;
    }

    ul {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      height: 100%;
      align-items: center;
      gap: 30px;

      li {
        cursor: pointer;
        list-style-type: none;
        color: #ffffff;
        font-family: sans-serif;
        font-weight: 200;
        letter-spacing: 1px;
        font-size: 15px;
        transition: all 0.2s ease-in-out;

        &:hover {
          color: rgb(255, 136, 0);
        }
      }
    }

    .hotline_number{
      display: flex;
      justify-content: center;
      font-family: sans-serif;
      width: 100%;

      h3{
        color: #fff;
        margin-top: 40px;
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
      }
      p{
        color: #fff;
        margin-top: 40px;
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
        margin-left: 6px;
        letter-spacing: 1px;
        transition: all 0.1s ease-in-out;
        &:hover{
          color: #ff623b;
        }
      }


    }

    h4{
      color: #ff6060;
        margin-top: 30px;
        margin-left: 20px;
        text-align: center;
        font-family: sans-serif;
        width: 100%;
        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;
        margin-left: 6px;
        letter-spacing: 1px;
    }


  }
}
